@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');
.wrapper {
  min-width: 300px;
  max-width: 980px;
  margin: 0 auto 40px;
  font-family: "Open Sans";
}
.news-container,
.links-container {
  display: inline-block;
  vertical-align: top;
}
.news-container {
  width: 700px;
  margin-right: 35px;
  float: left;
}
.header {
  width: 700px;
  font-size: 2.5em;
  font-weight: 600;
  clear: both;
  border-bottom: 1px solid lightgray;
  padding: 25px 0 20px;
}
.header span {
  font-size: 0.4em;
  float: right;
  margin-top: 21px;
}
.header span i {
  padding-left: 14px;
}
.news {
  padding-top: 50px;
  border-bottom: 3px solid #000000;
  clear: both;
}
.news__date {
  display: inline-block;
  font-size: 2.25em;
  font-weight: 600;
  color: #f93546;
  vertical-align: top;
  margin-right: 25px;
}
.news-content {
  display: inline-block;
  vertical-align: top;
  width: 82%;
  margin-bottom: 25px;
  font-size: 1em;
  line-height: 1.5;
}
.news-content__header {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 25px;
}
.news-content__text {
  text-align: justify;
}
.news-footer {
  position: relative;
  height: 52px;
}
.news-footer__news-detail {
  position: absolute;
  right: 0;
  width: 155px;
  padding: 17px 30px;
  font-size: 1em;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #000000;
  border-bottom: none;
  border-right-color: lightgrey;
  cursor: pointer;
}
.news-footer__news-date--hided {
  display: none;
}
.links-container {
  width: 240px;
  float: right;
  border-top: 1px solid lightgray;
}
.nav-links {
  margin-bottom: 55px;
}
.nav-links__link {
  font-size: 1.125em;
  line-height: 2.222;
}
.nav-links__link a {
  display: inline-block;
  border-bottom: 1px dashed;
  margin-left: 22px;
  color: #000000;
  text-decoration: none;
}
.nav-links__link i,
.nav-links__link a.nav-links__link--check {
  color: #f93546;
  margin-left: 0px;
}
.links-container__info-for-pressa {
  display: block;
  border: 3px solid black;
  width: 240px;
  height: 80px;
  box-sizing: border-box;
  padding: 20px;
  color: #000000;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../icons/right-arrow.png) no-repeat center right;
  background-origin: content-box;
}
@media screen and (max-width: 719px) {
  .wrapper {
    margin: 20px 10px;
  }
  .header,
  .news-container,
  .links-container {
    width: 100%;
    float: none;
  }
  .header span {
    display: none;
  }
  .links-container {
    border: none;
  }
  .links-container__info-for-pressa {
    display: none;
  }
  .nav-links__link {
    width: 100%;
    font-size: 1.3em;
  }
  .nav-links__link a {
    border: none;
  }
  .news:first-of-type {
    padding-top: 0;
  }
  .news-content {
    width: 100%;
  }
  .news__date {
    display: none;
  }
  .news-footer {
    border-top: 1px solid black;
  }
  .news-footer__news-detail {
    display: inline-block;
    width: 37%;
    border: none;
    border-left: 1px solid black;
    padding: 17px 20px;
  }
  .news-footer__news-date--hided {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-size: 1.875em;
    color: #f93546;
    font-weight: 600;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) and (max-width: 1024px) {
  .wrapper {
    margin: 30px 20px 40px;
  }
  .header,
  .news-container,
  .links-container {
    width: 100%;
    float: none;
  }
  .links-container {
    border: none;
    margin-top: 30px;
  }
  .nav-links__link {
    display: inline-block;
    width: 49%;
    font-size: 1.5em;
  }
  .nav-links__link a {
    border: none;
  }
  .links-container__info-for-pressa {
    display: none;
  }
  .news__date {
    display: inline-block;
  }
  .news-content {
    width: 80%;
  }
}
